html {
    font-size: 100px;
    overflow-y: scroll;
}
body {
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif, "\5fae\8f6f\96c5\9ed1", "\5b8b\4f53";
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dd,
ul,
ol,
input,
button,
textarea {
    padding: 0;
}
dt,
li,
lengend,
th,
td {
    margin: 0;
    padding: 0;
}
cite,
em,
var,
i {
    font-style: normal;
}
tt {
    font-family: "Courier New", Courier, monospace;
}
ul,
ol {
    list-style: none;
}
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
q::before,
q::after {
    content: '';
}
input:focus,
textarea:focus {
    outline: none;
}
// 定位
@mixin posr($vals:auto){
    position:relative;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
@mixin posa($vals:auto){
    position:absolute;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
@mixin posf($vals:auto){
    position:fixed;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
// 居中
@mixin center{
    margin-left: auto;
    margin-right: auto;
}
%center{
    @include center;
}
// 上下标
@mixin sup($fz:60%){
    vertical-align: super;
    font-size: $fz;
}
@mixin sub($fz:60%){
    vertical-align: sub;
    font-size: $fz;
}
