//KISSY CSS Reset
//理念：清除和重置是紧密不可分的
//特色：1.适应中文 2.基于最新主流浏览器
//维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)

// 清除内外边距 
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, // structural elements 结构元素 
dl, dt, dd, ul, ol, li, // list elements 列表元素 
pre, // text formatting elements 文本格式元素 
fieldset, lengend, button, input, textarea, // form elements 表单元素 
th, td { // table elements 表格元素 
    margin: 0;
    padding: 0;
}
// 设置默认字体 
body,
button, input, select, textarea { // for ie 
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", "\5fae\8f6f\96c5\9ed1", sans-serif; // 用ascii 支持任意编码 分别是宋体 微软雅黑 
}
h1 { font-size: 18px; }// 18px / 12px = 1.5
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var, i { font-style: normal; } // 将斜体扶正 
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } // 统一等宽字体 
// small { font-size: 12px; } 小于 12px 的中文很难阅读，让 small 正常化 
b, strong {font-weight: normal; } // 取消加粗 
// 重置列表元素 
ul, ol { list-style: none; }
// 重置文本格式元素 
a {
    text-decoration: none;
    color: inherit; // a继承字体颜色后不用单独对a设置颜色 设置父元素即可  
}
a:hover { text-decoration: underline; }
abbr[title], acronym[title] { // 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 
    border-bottom: 1px dotted;
    cursor: help;
}
q:before, q:after { content: ''; }
// 重置表单元素 
legend { color: #000; } // for ie6 
fieldset, img { border: none; } // img 搭车：让链接里的 img 无边框 
// 注：optgroup 无法扶正 
button, input, select, textarea { font-size: 100%; } // 使得表单元素在 ie 下能继承字体大小 
input:focus {
    outline: none;
}
// 重置表格元素 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// 重置 hr 
hr {
    border: none;
    height: 1px;
}
// 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 
html { overflow-y: scroll; }
// 清除浮动 start 
@mixin clearfix{
    zoom:1;
    &:before,
    &:after{
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    &:after{
        clear:both;
    }
}
%clearfix{
    @include clearfix;
}
// 清除浮动 end 
// 定位 start 
@mixin posr($vals:auto){
    position:relative;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
@mixin posa($vals:auto){
    position:absolute;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
@mixin posf($vals:auto){
    position:fixed;
    @if $vals != auto{
        $dirs:top right bottom left;
        @for $n from 1 through 4{
            @if nth($vals,$n) != n{
                #{nth($dirs,$n)}:nth($vals,$n);
            }
        }
    }
}
// 定位 end 
// 居中 start 
@mixin center{
    margin-left: auto;
    margin-right: auto;
}
%center{
    @include center;
}
// 居中 end 
// 上下标 start 
@mixin sup($fz:60%){
    vertical-align: super;
    font-size: $fz;
}
@mixin sub($fz:60%){
    vertical-align: sub;
    font-size: $fz;
}
// 上下标 end 
